In [1]:
print("Hello world")

Hello world

In [2]:
Print("Hello world") ### Case sensitive

NameError: name 'Print' is not defined

In [3]:
Print(hello world) ### interveted comma for string which is letters

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1091461690.py, line 1)

In [4]:
print('Hello world') ### single inverted comma will do the job

Hello world

In [5]:
print(10) ### no requirement of intverted comma in case of numbers

10

# Shortcut

In [6]:
### Shortcuts Keys:
### Run -> Shift + Enter
### Add a cell above -> a 
### Add a cell below -> b
### Delete a cell -> x or d twice (putting cursor on cell)
### Markdown/Comment -> M and Shift+Enter  (putting cursor on cell)

### asfsafsd ### fsfsdf

In [7]:
### putting hastags with a spcae before anything and pressing M without Shift+Enter will give output like below example 1

### example 1

In [8]:
### putting hastags with a spcae before anything and pressing M with Shift+Enter will give output like below example 2

### example 2

In [9]:
### We can use 1 to 6 hastags and more number of hastags will reduce the font size and less will increase the font size
### Like example 3 below uses single hastag

# example 3

### Data Types

In [10]:
a=10 ### integer(no decimal)
type(a)

int

In [11]:
b=10.8 ### float(with decimal)
type(b)

float

In [12]:
c="Machine learning" ### string which is text
type(c)

str

In [13]:
d=True ### boolean
type(d)

bool

In [14]:
e=1-2j ### in programming language, we use j instead of i to denote complex
type(e)

complex

In [15]:
f="False" ### because of inverted comma, here data is string
type(f)

str

In [16]:
f=False
type(f)

bool

### Rule for naming variables

In [17]:
x=1234.12 ### type x and shift+enter or  type print(x)
x

1234.12

In [18]:
x=1234.12 ### only type of data is given as output not x because it will consider only last command
x
type(x)

float

In [19]:
x=1234.12
x,type(x)

(1234.12, float)

In [20]:
fruit="Apple"

In [21]:
4fruit="Apple" ### Variable name should not start with a number

SyntaxError: invalid decimal literal (2814636266.py, line 1)

In [22]:
f4uit="Apple" ### Varibale name can have number other than the first place

In [23]:
fruit_="Apple" ### It allows only one special character(underscore) which can be placed anywhere in the variable name
frui_t="Banana"
_fruit="Watermelon"

In [24]:
fruit name="Guava" ### No space as mentioned(any special character) allowed

SyntaxError: invalid syntax (1752185236.py, line 1)

### List
### 1. Allow Heterogenous
### 2. Index start from 0
### 3. Mutable using index
### 4. []

In [25]:
sample_list =[12,4.3,"Hi",1+3j] ### Heterogenous
sample_list

[12, 4.3, 'Hi', (1+3j)]

In [26]:
type(sample_list)

list

In [27]:
### square bracket is used to slice/call the list only, otherwise use paranthesis()

In [28]:
sample_list[0] ### index start from zero

12

In [29]:
sample_list[3]

(1+3j)

In [30]:
sample_list[-2] ### index start from -1 from right side counting or negative side

'Hi'

In [31]:
sample_list[6] ### index error

IndexError: list index out of range

In [32]:
sample_list[0:] ### number after colon calls list including that index number till all

[12, 4.3, 'Hi', (1+3j)]

In [33]:
sample_list[1:3] ### this does not call last index means calls from starting index till all before last

[4.3, 'Hi']

In [34]:
sample_list[:2] ### this calls every index before last

[12, 4.3]

In [35]:
sample_list[3]="callous" ### mutable using index
sample_list

[12, 4.3, 'Hi', 'callous']

# Tuple
# 1. Allows Heterogenous
# 2. Retrieve using index
# 3. Tuple is immutable 
# 4. ()

In [36]:
sample_tuple =(12,4.3,"Hi",1+3j)
sample_tuple

(12, 4.3, 'Hi', (1+3j))

In [37]:
type(sample_tuple)

tuple

In [38]:
sample_tuple =12,4.3,"Hi",1+3j    ### tuple can also exist without ()
type(sample_tuple)

tuple

In [39]:
sample_tuple[0]

12

In [40]:
sample_tuple[0:]  ### using square bracket, tuple can be called but mutability is not possible using index

(12, 4.3, 'Hi', (1+3j))

In [41]:
sample_tuple[2]="Fine"  ### mutability is not possible in tuple
sample_tuple

TypeError: 'tuple' object does not support item assignment

### Sets
### 1. Add heterogenous
### 2. Doesn't allow duplicates
### 3. Cannot access using index
### 4. Mutable but not using index

In [42]:
sample_set={1,43,23,45,67,8,22,21,22,32,0,66,12,2,3.1,2,2.3,"a","abc","b"}

In [43]:
type(sample_set)

set

In [44]:
sample_set ### sorted where sorting is done like all number starting with 0 then all numbers with 1 and so on 
           ### also repeated numbers are not included

{0, 1, 12, 2, 2.3, 21, 22, 23, 3.1, 32, 43, 45, 66, 67, 8, 'a', 'abc', 'b'}

In [45]:
sample_set[2] ### can't call using index

TypeError: 'set' object is not subscriptable

In [46]:
sample_set[3]="Ball" ### Mutability is not possible using index

TypeError: 'set' object does not support item assignment

In [47]:
sample_set

{0, 1, 12, 2, 2.3, 21, 22, 23, 3.1, 32, 43, 45, 66, 67, 8, 'a', 'abc', 'b'}

In [48]:
sample_set.add(12) ### mutability is possible using remove.() or add.()

In [49]:
sample_set

{0, 1, 12, 2, 2.3, 21, 22, 23, 3.1, 32, 43, 45, 66, 67, 8, 'a', 'abc', 'b'}

In [50]:
sample_set.remove(8)

In [51]:
sample_set.add(89)
sample_set

{0, 1, 12, 2, 2.3, 21, 22, 23, 3.1, 32, 43, 45, 66, 67, 89, 'a', 'abc', 'b'}

# Dictionary

In [52]:
sample_dict={"a":"First",1:"Second","a":"Third",6:"Second",5:7}   # In case of duplicate keys, only one key is considered
                                                                  # In case of duplicate keys, value of last duplicated key is showed
sample_dict

{'a': 'Third', 1: 'Second', 6: 'Second', 5: 7}

#### Dictinoary has key-value pair data structure
#### Keys - a,1,6,5
#### Values - First,Second,Third,7
#### Key is unique
#### Values can be duplicated

### We can retrieve values using keys

In [53]:
sample_dict[6]  ### We can retrieve values using keys

'Second'

### We cannot retrieve keys using values

In [54]:
sample_dict["Second"]  ### We cannot retrieve keys using values

KeyError: 'Second'

### Dictionary is mutable using keys

In [55]:
sample_dict[5]=100  
sample_dict

{'a': 'Third', 1: 'Second', 6: 'Second', 5: 100}

In [56]:
sample_dict

{'a': 'Third', 1: 'Second', 6: 'Second', 5: 100}

### Adding a new key-value pair in dictionary

In [57]:
sample_dict['vir']='tir'
sample_dict

{'a': 'Third', 1: 'Second', 6: 'Second', 5: 100, 'vir': 'tir'}